@{
    ViewBag.Title = "Home Page";
}

<section id="banner">
    <div class="inner">
        <h1>
            Introspect: <span>
                A free + fully responsive<br />
                site template by TEMPLATED
            </span>
        </h1>
        <ul class="actions">
            <li><a href="#" class="button alt">Get Started</a></li>
        </ul>
    </div>
</section>

<div class="box alt">
    <div class="row 50% uniform">
        <div class="12u$"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
        <div class="4u$"><span class="image fit"><img src="~/Content/images/pic02.jpg" alt="" /></span></div>
    </div>
</div>
